/* 
    Best CSS feature ever 
*/
:where(html) {
    --ratio-square: 1;
    --ratio-portrait: 9/16;
    --ratio-landscape: 16/9;
    --ratio-ultrawide: 18/5;
}

@supports (aspect-ratio: 1) {
    [data-ratio] {
        width: 100%;
    }
    [data-ratio='auto'] {
        aspect-ratio: auto;
    }
    [data-ratio='square'] {
        aspect-ratio: 1;
    }
    [data-ratio='landscape'] {
        aspect-ratio: 16/9;
    }
    [data-ratio='portrait'] {
        aspect-ratio: 9/16;
    }
    [data-ratio='ultrawide'] {
        aspect-ratio: 18/5;
    }
}
