:where(html) {
    --scrollbar-size: min(8px, 0.3em);
}

[data-overflow] {
    &::-webkit-scrollbar {
        width: var(--scrollbar-size);
        height: var(--scrollbar-size);
    }

    &::-webkit-scrollbar-track {
        background-color: var(--transparent);
    }

    &::-webkit-scrollbar-corner {
        background-color: currentColor;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--transparent);
        outline: 1px solid var(--transparent);
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: currentColor;
    }

    &:hover::-webkit-scrollbar-track {
        background-color: var(--gray-300);
    }
}

[data-overflow='x'] {
    width: 100%;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    scrollbar-width: none;
    scrollbar-gutter: stable;
    background-color: var(--transparent);
}

[data-overflow='y'] {
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scrollbar-width: none;
    scrollbar-gutter: stable;
    background-color: var(--transparent);
    scroll-padding-bottom: var(--gap-3);
}
