:where(html) {
    --gap-1: 0.4em;
    --gap-2: 0.6em;
    --gap-3: 0.8em;
    --gap-4: 1em;
    --gap-5: 1.2em;
}

[data-gap='sm'] {
    gap: var(--gap-1);
}
[data-gap='md'] {
    gap: var(--gap-2);
}
[data-gap='lg'] {
    gap: var(--gap-3);
}
[data-gap='xl'] {
    gap: var(--gap-4);
}
