[data-border-radius] {
    border-radius: var(--border-radius);
}

[data-border-shadow] {
    --border-shadow-color: currentColor;
}
[data-border-shadow='outer'] {
    box-shadow: 0 0 0 var(--border-width) var(--border-shadow-color);
}
[data-border-shadow='inner'] {
    box-shadow: inset 0 0 0 var(--border-width) var(--border-shadow-color);
}
[data-border-shadow='left'] {
    box-shadow: inset var(--border-width) 0 0 0 var(--border-shadow-color);
}
[data-border-shadow='right'] {
    box-shadow: inset calc(var(--border-width) * -1) 0 0 0
        var(--border-shadow-color);
}
[data-border-shadow='top'] {
    box-shadow: inset 0 var(--border-width) 0 0 var(--border-shadow-color);
}
[data-border-shadow='bottom'] {
    box-shadow: inset 0 calc(var(--border-width) * -1) 0 0
        var(--border-shadow-color);
}
