[data-no-scroll] {
    overflow: hidden;
}
[data-util='dead'] {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
[data-util='offscreen'] {
    clip: rect(0, 0, 0, 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
[data-util='invisible'] {
    xpointer-events: auto;
    pointer-events: none;
    position: absolute;
    visibility: hidden;
}
