/* 
    Sort of a data-group but color aware

    Candidates
    ----------
    1 - Override default hover & focus styles
        &:is([data-button], [data-checkbox], [data-radio], [data-switch]):focus {
            box-shadow: var(--shadow-focus-spread) SOME_COLOR;
        }
    2 - Global changes
        &:focus-within {
        }
    3 - Text selection
        &::selection {
        }
    4 - Placeholder 
        :placeholder-shown {
        }
    
*/

[data-paper] {
    /* 
    if within 4px of the full viewport size, 
    remove border radius.
     */
    --paper-border-radius: max(
        0px,
        min(var(--border-radius), calc((100vw - 4px - 100%) * 9999))
    );
    border-radius: var(--paper-border-radius);
}

[data-paper] {
    --overlay: rgba(var(--foreground), var(--alpha-400));
    background-image: linear-gradient(var(--overlay), var(--overlay));
    background-color: rgb(var(--background));

    &[data-paper-outline],
    &[data-paper-color] {
        background-image: none;
        background-color: var(--transparent);
    }

    &[data-paper-outline] {
        border: var(--border-width) solid currentColor;
        color: currentColor;
    }

    &::-webkit-input-placeholder {
        color: rgba(var(--paper-fg), 1);
    }
    & > *::-webkit-input-placeholder {
        color: rgba(var(--paper-fg), 1);
    }
    &::-ms-input-placeholder,
    & > *::-ms-input-placeholder {
        color: rgba(var(--paper-fg), 1);
    }
}

[data-paper='transparent'] {
    background-color: var(--transparent) !important;
    background-image: none !important;
    box-shadow: none !important;
}

[data-paper='error'] {
    --overlay: rgba(var(--purple-100-base), 1);
    background-image: linear-gradient(var(--overlay), var(--overlay));
    background-color: rgb(var(--background));

    &[data-paper-outline] {
        background-color: var(--transparent) !important;
        background-image: none !important;
        color: var(--overlay);
    }
}

[data-paper='accent'] {
    --overlay: rgba(var(--gold-100-base), 1);
    background-image: linear-gradient(var(--overlay), var(--overlay));
    background-color: rgb(var(--background));

    &[data-paper-outline] {
        background-color: var(--transparent) !important;
        background-image: none !important;
        color: var(--overlay);
    }
}
