[data-gradient-input] {
    --gradient-input-color: rgba(var(--foreground), var(--alpha-100));
}

[data-gradient-input]:has([data-input-start]):not(:has([data-input-end])) {
    background: repeating-linear-gradient(
        90deg,
        var(--gradient-input-color) 0%,
        var(--gradient-input-color) var(--input-start-width),
        transparent 100%
    );
}

[data-gradient-input]:not([data-input-start]):has(:has([data-input-end])) {
    background: repeating-linear-gradient(
        90deg,
        transparent calc(100% - var(--input-end-width)),
        var(--gradient-input-color)
            calc(
                100% - var(--input-end-width),
                var(--gradient-input-color) 100%
            )
    );
}

[data-gradient-input]:has([data-input-start]):has(:has([data-input-end])) {
    background: repeating-linear-gradient(
        90deg,
        var(--gradient-input-color) 0%,
        var(--gradient-input-color) var(--input-start-width),
        transparent calc(100% - var(--input-end-width)),
        var(--gradient-input-color)
            calc(
                100% - var(--input-end-width),
                var(--gradient-input-color) 100%
            )
    );
}

[data-gradient-object] {
    background: linear-gradient(
        90deg,
        #737373 5%,
        #595959 5%,
        #595959 95%,
        #404040 95%
    );
}

[data-gradient-object='light'] {
    background: linear-gradient(
        90deg,
        #ccc 10%,
        #f2f2f2 10%,
        #f2f2f2 20%,
        #f2f2f2 20%,
        #f2f2f2 90%,
        #d9d9d9 0%
    );
}
