:where(html) {
    --zero: 0;
    --comfy-height: max(44px, 2em);
    --comfy-width: 10ch;

    --border-width: 2px;
    --border-radius: 0.1em;

    --disabled-opacity: var(--alpha-500);

    /* input as in * interactive element with start/end slots */
    --input-slot-width: 2.4rem;
    --input-start-width: var(--input-slot-width);
    --input-end-width: var(--input-slot-width);
    /* iOS */
    --input-font-size: max(16px, 1em);

    /* using shadows instead of border & outline */
    --input-focus-outline: 3px solid transparent;
    --shadow-spread: 0 0 0 var(--border-width);
    --shadow: var(--shadow-spread) currentColor;
    /* on focus shadow spread grows */
    --spread-factor: 1.44;
    --shadow-focus-spread: 0 0 0
        calc(var(--border-width) * var(--spread-factor));
    --shadow-focus: var(--shadow-focus-spread) currentColor;

    /* iOS */
    --ios-notch: env(safe-area-inset-top) env(safe-area-inset-right)
        env(safe-area-inset-bottom) env(safe-area-inset-left);
}
