:where(html) {
    --foreground: 37, 37, 37;
    --background: 255, 255, 255;

    --alpha-100: 0.12;
    --alpha-200: 0.2;
    --alpha-300: 0.3;
    --alpha-400: 0.5;
    --alpha-500: 0.6;

    --gold-100-base: 139, 120, 80;
    --gold-100: rgb(var(--gold-100-base));

    --red-100-base: 240, 10, 171;
    --red-100: rgb(var(--red-100-base));

    --purple-100-base: 167, 134, 223;
    --purple-100: rgb(var(--purple-100-base));

    --color-focus: var(--purple-100);
    --color-invalid: var(--red-100);
    --color-disabled: rgba(var(--foreground), var(--alpha-100));

    --transparent: transparent !important;
}
