[data-paper='error'] {
    background-color: var(--error-100);
    color: var(--white-100);

    &[data-paper-color] {
        color: var(--red-100);
        background-color: var(--transparent);
    }

    &[data-paper-outline] {
        background-color: var(--transparent);
        border: var(--border-width) solid var(--red-100);
        color: var(--red-100);
    }

    &::-webkit-input-placeholder,
    & > *::-webkit-input-placeholder {
        color: var(--white-100);
    }
    &::-ms-input-placeholder,
    & > *::-ms-input-placeholder {
        color: var(--white-100);
    }
}
