:root {
    --background: var(--white-200);
    --color: var(--black-200);
    color: var(--color);
    background-color: var(--background);
    color-scheme: light;

    accent-color: var(--color-invalid);

    /* 
    https://pqina.nl/blog/css-colors-with-custom-properties/
    */
    --foreground: 0, 0, 0;
    --background: 255, 255, 255;
    --mod-invert: 1;
}

[data-theme] {
    --shadow-behind: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
    --shadow-below: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2),
        0 0.04rem 0.1rem rgba(0, 0, 0, 0.2);
    --highlight-outline-alpha-factor: calc(var(--mod-contrast, 2.85) * 0.3);
    --highlight-outline: 0 0 0 1px
        rgba(
            var(--foreground),
            calc(0.3 * var(--highlight-outline-alpha-factor))
        );
    --highlight-inset: inset 0 0 0 1px
        rgba(255, 255, 255, calc(0.12 * var(--mod-contrast, 1)));
    --highlight-top: inset 0 1px 0 0
        rgba(255, 255, 255, calc(0.2 * var(--mod-contrast, 1)));
    --highlight-bottom: inset 0 -1px 0 rgba(0, 0, 0, calc(0.3 /
                    var(--mod-contrast, 1)));
    box-shadow: var(--highlight-outline), var(--highlight-top),
        var(--highlight-bottom), var(--highlight-inset), var(--shadow-below),
        var(--shadow-behind);
}

/*
@media (prefers-color-scheme: dark) {
    :root {
        --foreground: 255, 255, 255;
        --background: 0, 0, 0;
        --mod-invert: -1;
        --mod-contrast: 1.4;
    }
} 

html {
    color: rgb(var(--foreground));
    --overlay: rgba(var(--foreground), 0.2);
    background-image: linear-gradient(var(--overlay), var(--overlay));
    background-color: rgb(var(--background));
}

.panel {
    background: rgba(var(--foreground), 0.25);
}

.panel-dark {
    --overlay: rgba(var(--foreground), 0.5);
    background-image: linear-gradient(var(--overlay), var(--overlay));
    background-color: rgb(var(--background));
} */
