[data-range] {
    width: 100%;
    accent-color: currentColor;
}

[data-range]:focus {
    accent-color: var(--color-focus);
}
[data-range]:focus-visible {
    outline: none;
    accent-color: var(--color-focus);
}

[orient='vertical'] {
    -webkit-appearance: slider-vertical;
}

/*
   Customize
   ---------
  1. FF
    [data-range]::-moz-range-thumb {
    background: var(--range-bg);

    }
    [data-range]::-moz-range-track {
     background: var(--range-bg);

    }
    input[type="range"]::-moz-range-progress {
     background: var(--range-bg);
    }

  2. Webkit
    [data-range]::-webkit-slider-thumb {
    }
    [data-range]::-webkit-slider-runnable-track {
    }
    [data-range]:focus::-webkit-slider-thumb {
    }
  
    3. MS
    ::-ms-thumb {
      background: var(--range-bg);
      height: var(--comfy-height);
      width: var(--comfy-width);
    }
    ::-ms-fill-lower {
    background: var(--range-bg);
    }
    ::-ms-ticks-after {
      display: none;
    }
    ::-ms-ticks-before {
      display: none;
    }
    ::-ms-track {
      background: var(--range-bg);
      color: transparent;
      height: var(--comfy-height);
      border: none;
    }
    ::-ms-tooltip {
      display: none;
    }
*/
