/* 
progress[value="50"] {
	accent-color: lime;
}
*/

progress[value] {
    --progress-width: 200px;
    --progress-radius: 50px;
    --progress-bg:
    /* if < 30%*/ linear-gradient(
                var(--color-invalid),
                var(--color-invalid)
            )
            0 / max(0px, var(--progress-width) * 0.3 - 100%) 1px,
        /* else if < 60%  */ linear-gradient(currentColor, currentColor) 0 /
            max(0px, var(--progress-width) * 0.6 - 100%) 1px,
        /* else  */ var(--color-focus);

    -webkit-appearance: none;
    appearance: none;
    border: none;
    accent-color: initial;
    display: inline-flex;
    width: var(--progress-width);
    height: calc(var(--comfy-height) / 2);
    --overlay: rgba(var(--foreground), var(--alpha-200));
    background-image: linear-gradient(var(--overlay), var(--overlay));
    background-color: rgb(var(--background));
    border-radius: var(--progress-radius);
}

progress[value]::-webkit-progress-bar {
    --overlay: rgba(var(--foreground), var(--alpha-200));
    background-image: linear-gradient(var(--overlay), var(--overlay));
    background-color: rgb(var(--background));
    border-radius: var(--progress-radius);
}

progress[value]::-webkit-progress-value {
    background-color: currentColor;
    /* Safari fails background: var(--progress-bg);
    background-image: var(--progress-bg); */
    border-radius: var(--progress-radius);
}

/* 
https://stackoverflow.com/questions/16348489/is-there-a-way-to-apply-styles-to-safari-only
@media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) and (display: flow-root) {
        progress[value]::-webkit-progress-value {
            background-color: currentColor !important;
        }
    }
} */

progress[value]::-moz-progress-bar {
    background: var(--progress-bg);
    border-radius: var(--progress-radius);
}

[progress]::-ms-fill {
    background: var(--progress-bg);
}
