a[data-button] {
    text-decoration: none;
}

@media screen and (-ms-high-contrast: active) {
    button[data-button] {
        border: 2px solid currentcolor;
    }
}

a[data-button],
button[data-button] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: start;

    color: currentColor;
    border-radius: var(--border-radius);

    box-shadow: var(--shadow);
    padding: var(--gap-1) var(--gap-3);
    line-height: 1.1;

    min-width: var(--comfy-width);
    min-height: var(--comfy-height);
    transition:
        background 220ms ease-in-out,
        180ms box-shadow ease-in-out;
    width: fit-content;
    height: fit-content;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

a[data-button]:not([data-paper]),
button[data-button]:not([data-paper]) {
    --overlay: rgba(var(--foreground), var(--alpha-200));
    background-image: linear-gradient(var(--overlay), var(--overlay));
    background-color: rgb(var(--background));
}

button[data-button='circle'] {
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    border-radius: 50%;
    aspect-ratio: 1;
    min-width: var(--comfy-height);
}

a[data-button]:hover,
a[data-button]:active,
button[data-button]:hover,
button[data-button]:active {
    --overlay: rgba(var(--foreground), var(--alpha-100));
    background-image: linear-gradient(var(--overlay), var(--overlay));
    background-color: rgb(var(--background));
}

a[data-button]:focus,
button[data-button]:focus {
    --overlay: rgba(var(--foreground), var(--alpha-300));
    background-image: linear-gradient(var(--overlay), var(--overlay));
    background-color: rgb(var(--background));
    box-shadow: var(--shadow-focus);
    outline: var(--input-focus-outline);
}

a[data-button='sm'],
button[data-button='sm'] {
    font-size: var(--font-size-1);
    min-height: auto;
}

a[data-button='stretch'],
button[data-button='stretch'] {
    flex-grow: 1;
}

a[data-button='full'],
button[data-button='full'] {
    width: 100%;
}

button[data-button='fit'] {
    min-width: fit-content !important;
}

button[data-button='transparent'] {
    background-color: transparent;
    border: none !important;
}

[data-button] svg {
    pointer-events: none;
}

[data-button-group] {
    display: flex;
    flex-wrap: wrap;
}

[data-button-group='vertical'] {
    flex-direction: column;
}

[data-button-group] [data-button] {
    border-radius: 0;
}
[data-button-group] [data-button]:focus {
    box-shadow: inset var(--shadow);
}

[data-button-group] > *:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}
[data-button-group] > *:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

[data-button-group='vertical'] > *:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
[data-button-group='vertical'] > *:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
