input[type='radio'] {
    background-color: var(--color-white);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    color: currentColor;
    height: var(--comfy-height);
    width: var(--comfy-height);
    aspect-ratio: 1;
    border-radius: 50%;
}

input[type='radio']:not([disabled]):checked,
input[type='radio']:not(:disabled):checked {
    background-color: currentColor;
}

input[type='radio'][disabled],
input[type='radio']:disabled {
    background-color: var(--color-disabled);
}

input[type='radio']:focus {
    box-shadow: var(--shadow-focus);
    outline: var(--input-focus-outline);
}
