[data-avatar-size] {
    --avatar--size: 4rem;
    border-radius: 50%;
    aspect-ratio: 1;
    width: var(--avatar--size);
    height: var(--avatar--size);
    flex-grow: 0;
    box-shadow: var(--shadow);
}

[data-avatar-size='sm'] {
    --avatar--size: 3rem;
}

[data-avatar-size='lg'] {
    --avatar--size: 5rem;
}
