@font-face {
    font-family: 'HKGrotesk Black';
    font-display: optional;
    src:
        url(./fonts/BrandonGrotesque-Black.woff) format('woff'),
        url(./fonts/BrandonGrotesque-Black.woff2) format('woff2');
}
:where(html) {
    --white-100-base: 255, 255, 255;
    --white-100: rgb(var(--white-100-base));
    --black-100-base: 15, 8, 38;
    --black-100: rgb(var(--black-100-base));
    --black-200: rgb(51, 51, 51);
    --gray-100-base: 138, 133, 133;
    --gray-100: rgb(var(--gray-100-base));
    --gray-200-base: 177, 177, 177;
    --gray-200: rgb(var(--gray-200-base));
    --gray-300-base: 196, 191, 191;
    --gray-300: rgb(var(--gray-300-base));
}
main {
    min-height: 100vh;
}

[data-font-grotesk] {
    font-family: 'HKGrotesk Black' !important;
}

header {
    z-index: var(--z-max);
}

@media (orientation: portrait) {
    section > header {
        flex-direction: column;
    }
}

section > header div:first-of-type {
    display: flex;
    flex-grow: 0;
    width: fit-content;
    place-content: center;
}

@media (orientation: landscape) {
    section > header [data-input] {
        margin-left: auto;
        max-width: 450px;
    }
}

@media (max-width: 320px) {
    section > header [data-input] {
        grid-template-columns: 1fr;
    }
    section > header [data-input-start],
    section > header [data-input-end] {
        display: none;
    }
}

*.error,
*.error * {
    color: var(--gold-100);
}
*.gray,
*.gray * {
    color: var(--gray-300);
}
*.focus,
*.focus * {
    color: var(--purple-100);
}

main section {
    position: relative;
}

#search-results {
    z-index: var(--z-max);
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: var(--shadow);
    transform: translateY(calc(var(--comfy-height) + 2px));
    border-radius: 0 var(--border-radius);
}

@media (orientation: landscape) {
    #search-results {
        max-width: 450px;
    }
}

#search-results li {
    display: flex;
    gap: var(--gap-2);
    padding: var(--space-sm);
    background-color: var(--white-100);
}
#search-results [data-icon] {
    display: flex;
}
#snippets-list [data-list-item-start]:hover,
#clear-input:hover {
    animation: wiggle 400ms 50ms forwards ease-in-out;
}

[data-overflow='x']:has(table) {
    height: 390px;
    scroll-padding: 65px;
}

aside {
    padding-bottom: 10vh;
}

.ratio-demo {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--gap-1);
    row-gap: var(--gap-1);
}
.ratio-demo fieldset {
    /* width: min(280px, 40%); */
    grid-template-columns: 1fr 1fr;
    column-gap: var(--gap-2);
    row-gap: var(--gap-1);
}
.ratio-demo fieldset + fieldset {
    height: fit-content;
}
.ratio-demo [data-stack] {
    width: 100%;
    height: 100%;
}

.ratio-demo > * {
    margin-bottom: 0 !important;
}

.ratio-demo label {
    min-width: fit-content;
    cursor: pointer;
}

.ratio-demo input[type='checkbox'] {
    transform: translate(80px, -80px);
}

.ratio-demo input[type='radio'] {
    transform: translate(80px, -32px);
}

.fix-portrait-card-height {
    margin-inline: max(0px, ((100% - 360px) / 2));
}

.fix-unit-width {
    width: 120px;
    gap: var(--gap-2);
    font-weight: 700;
    border-radius: var(--border-radius);
    height: fit-content;
}

article form {
    position: relative;
    min-height: min(50vh, 300px);
}
.output {
    border: var(--border-width) solid currentColor;
    border-radius: var(--border-radius);
    width: 120px;
    position: absolute;
    top: 0;
    right: 0;
}
/* TODO: cute theme switcher */
body:has(option[value='pony']:checked) {
    --font-family: cursive;
    --text-color: #b10267;
    --body-background: #ee458e;
    --main-background: #f4b6d2;
}

/* pre/code */

[class*='highlight-'] {
    border-radius: var(--border-width);
    margin: -3px;
    padding: 3px;
    width: fit-content;
}

.highlight-snippet {
    font-weight: bold;
}
.highlight-comment:hover {
    background: var(--gray-300);
}
.highlight-noise:hover {
    background: var(--gray-300);
}
.highlight-snippet:hover {
    background: var(--gold-100);
    /* color: var(--gold-100); */
}

code {
    counter-reset: step;
    counter-increment: step calc(var(--start, 1) - 1);
    padding: var(--gap-1) 0;
    display: block;
    background: var(--white-100);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
}

code .line::before {
    content: counter(step);
    counter-increment: step;
    width: 3ch;
    padding-right: var(--gap-1);
    margin-right: 40px;
    display: inline-block;
    text-align: right;
    color: rgba(var(--black-100-base), 0.5);
    border-right: var(--border-width) solid currentColor;
}

code .line {
    display: flex;
}

code .line.level-1 {
    padding-left: 30px;
}

code .line.level-1::before {
    transform: translateX(-27px);
}

code .line.level-2 {
    padding-left: 60px;
}

code .line.level-2::before {
    transform: translateX(-57px);
}
