@font-face {
    font-family: 'HKGrotesk Black';
    font-display: optional;
    src:
        url(./fonts/BrandonGrotesque-Black.woff) format('woff'),
        url(./fonts/BrandonGrotesque-Black.woff2) format('woff2');
}

main {
    min-height: 100vh;
}

[data-font-grotesk] {
    font-family: 'HKGrotesk Black' !important;
}

header {
    z-index: var(--z-max);
}

.autocomp {
    box-shadow: var(--shadow);
    transform: translateY(2px);
    border-radius: 0 var(--border-radius);
}
.autocomp-item {
    background-color: var(--white-100);
}
.dot {
    display: flex;
}

[data-overflow='x']:has(table) {
    height: 390px;
    scroll-padding: 65px;
}

aside {
    padding-bottom: 10vh;
}

.fix-portrait-card-height {
    margin-inline: max(0px, ((100% - 360px) / 2));
}

.fix-unit-width {
    width: 120px;
    gap: var(--gap-2);
    font-weight: 700;
    border-radius: var(--border-radius);
    height: fit-content;
}

[data-group='unit'] {
    width: 120px;
    gap: var(--gap-2);
    font-weight: bold;
    border-radius: var(--border-radius);
    height: fit-content;
}

/* TODO: cute theme switcher */
body:has(option[value='pony']:checked) {
    --font-family: cursive;
    --text-color: #b10267;
    --body-background: #ee458e;
    --main-background: #f4b6d2;
}
