[data-tray-overlay] {
    --tray-overlay: rgba(var(--black-100-base), 0.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--transparent);
    display: none;
    z-index: var(--z-3);
    transition: all 0.3s ease-in-out;
}
[data-tray-overlay][data-tray-overlay-open='true'] {
    display: flex;
    align-self: stretch;
    background-color: var(--tray-overlay);
}

[data-tray] {
    --tray-height: 60vh;
    --tray-width: 80%;
    --tray-start-end-spacing: calc(calc(100% - 80%) / 2);

    isolation: isolate;
    position: fixed;
    z-index: var(--z-max);
    width: var(--tray-width);
    left: var(--tray-start-end-spacing);
    right: var(--tray-start-end-spacing);
    bottom: 0;
    /* bottom: calc(calc(var(--tray-height) + 4vh) * -1); */
    transform: translateY(101%);
    transition:
        transform 0.5s cubic-bezier(0.32, 0.72, 0, 1),
        opacity 0.1s ease-in-out;
    opacity: 0;
    height: min(var(--tray-height), 600px);
    background-color: var(--white-200);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    box-shadow: var(--shadow);
}
[data-tray][data-tray-open='true'] {
    bottom: 0;
    transform: translateY(0);
    opacity: 1;
}

@media (orientation: portrait) {
    [data-tray] {
        width: 90%;
        left: 5%;
    }
}
